<mat-card>
    <mat-card-header>
        <mat-card-title>Agencias</mat-card-title>
        <mat-card-subtitle><button mat-raised-button (click)="nuevo()">Nuevo</button></mat-card-subtitle>
    </mat-card-header>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="agenciaNombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.agenciaNombre}} </mat-cell>
        </ng-container>
      
    
        <ng-container matColumnDef="agenciaId">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let element"><button mat-raised-button (click)="editar(element)">Editar</button></mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
</mat-card>

